.managerButtons {
    margin: 0 10px;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: white;
    color: #007bff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .managerButtons:hover {
    background-color: #007bff;
    color: white;
  }
  
  /* Active button with a more visible background */
  .selectedButton {
    margin: 0 10px;
    padding: 10px 20px;
    border: 2px solid #0056b3;
    border-radius: 5px;
    background-color: #d6e9ff; /* Slightly darker pastel blue */
    color: #0056b3; /* Complementary text color */
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15); /* Slightly more pronounced shadow */
    transition: all 0.3s ease;
  }
  